/* Buttons */

button {
    background: var(--brand-color);
	color: var(--text-color);
	border: none;
	padding: 0.8rem 1.1rem;
	cursor: pointer;
    text-transform: uppercase;
    display: block;
    margin: 1rem auto;
    border-radius: 8px;
    font-size: 1.2rem;
}

button:hover {
    background: var(--accent-color);
    color: #f7ede2;
}


button a:hover {
	color: #f7ede2;
	text-decoration: none;
    border: none
}

button a {
    text-decoration: none;
}


.first-bottom-button {
    margin-top: 3rem;
}
